{% extends 'admin/base_admin.html.twig' %}
{% block content %}
<h1> Administration: Gestion des commentaires</h1>
    <p> Nombre de commentaires: *nb*</p>
    <p> Nombre de commentaires à modérer: *nb* -> <a href="">Modérez les commentaires</a></p>
{% endblock %}