{% extends 'admin/base_admin.html.twig' %}
{% block content %}
<h1> Administration: Gestion des observations</h1>
    <p> nombre d'observations: *nb*</p>
    <p> nombre d'observations vérifiées: *nb*</p>
    <p> nombre d'observations à vérifier: *nb*</p>
    <p> nombred d'observations ces X derniers mois: *nb*</p>
    <p> nombre d'observations par espèce: *nb*</p>
{% endblock %}
