{% extends 'admin/base_admin.html.twig' %}
{% block content %}
<h1>Administration: Gestion des utilisateurs.</h1>
    <p> Nombre d'utilisateur : *nb* </p>
    <p> utilisateurs à vérifier: *nb* -> <a href="">Vérfiez les utilisateurs</a></p>
    <p> Utilisateurs naturalistes à vérifier: *nb* -> <a href="">Vérfiez les naturalistes professionnels</a></p>
{% endblock %}