{% extends 'base.html.twig' %}
{% block body %}
    <H1>Interface d'administration du site</H1>

    <ul>
        <li><a href="{{ path('observations_management') }}">Gestion des observations</a></li>
        <li><a href="{{ path('users_management') }}">Gestion des utilisateurs</a></li>
        <li><a href="{{ path('comments_management') }}">Gestion des commentaires</a></li>
    </ul>
{% endblock %}